#box1{
    background-color: blue;
    width: 100px;
    height: 100px;
    display: inline-block;
}

#box2{
    background-color: orange;
    width: 100px;
    height: 100px;

    display: inline-block; 
    

}

#box3{
    background-color: lightskyblue;
    width: 100px;
    height: 100px;
    display: inline-block;
  
}

#box4{
    background-color: lightsteelblue;
    width: 100px;
    height: 100px;
    display: inline-block;
}

#box5{
    background-color: yellowgreen;
}

#box6{
    background-color: yellowgreen;
}

#box7{
    background-color: yellowgreen;
    display: block;
}

#box8{
    background-color: yellowgreen;
    display: block;
}

#box9{
    background-color: yellowgreen;
    display: inline-block;
    width: 100px;
    height: 100px;
}

#box10{
    background-color: yellowgreen;
    display: inline-block;
    width: 100px;
    height: 100px;
}
#p5container canvas{
   
    display: block;
    margin:auto
}
#p5container{
    /* border: 3px solid black; */
    /* width: 30%; */
    display: inline-block;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%)
}
#display{
    margin-top: 150px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#background{
    background-image: url('/assets/bkg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 155vh;
    
}

